<div class='container-fluid second'>
   <div class='col-md-12 text-center'>
      <h1>Featured Work</h1>
      <em>dive into my creations</em>
</div>
</div>
   <div class='container-fluid'>

         <% @projects.each do |project| %>
         <div class='row'>
         <div class="col-md-7">
           <div class="thumbnail box">
             <%= image_tag project.photo.thumb, class: 'img-responsive' %>
          </div>
       </div>
             <div class="col-md-4">
               <h3><%= project.title %></h3>
               <p><%= simple_format(project.desc) %>
               <p>
             <%= link_to "Demo", project.demo, class: "btn btn-primary", role:"button" %>
             <%= link_to "Github", project.github, class: "btn btn-default", role:"button" %>
          </p>
             </div>
      </div>
         <% end %>

</div>
