<% @projects.each do |project| %>

<li>
   <article class="caption">
   <%= image_tag project.photo, class: 'class__media' %>
       <div class="caption__overlay">
         <h1 class="caption__overlay__title"><%= project.title %></h1>
        <p class="caption__overlay__content"><%= simple_format(project.desc) %></p>
        <br>
        <div class='text-center'>
           <%= link_to "Demo", project.demo %>
           <%= link_to "GitHub", project.github %></div>
       </div>
    </article>
</li>

<% end %>
