<!DOCTYPE html>
<html>
<head>
  <title>Danny Sun - Web Developer</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</script>
</head>

<div class="container-fluid">

<div class='row no-gutter'
<header>
   <%= image_tag "profile.png", id: 'profile' %>
   <div class='col-md-12 col-sm-12 col-xs-12 head'>
      <div class="hello">
         <h1>Hello World, I'm Danny</h1>
         <p>developer/designer/webenthusiast</p>
      </div>
   </div>
   <%= image_tag "ruby.png", id: 'ruby' %>
</header>
</div>

<div class="row no-gutter">
<div class='gray text-center'>
   <h1>Featured Work</h1>
   <p>dive into my creations</p>
</div>
</div>
<br><br><br>



<br><br><br><br><br><br><br><br><br><br><br>
<div class='row no-gutter'>
   <div class='quote text-center'>
      <div class='col-md-offset-2 col-md-8'>
      <p>I love <b>building</b> things. I need nothing more than a <s>little</s> A LOT of caffeine, occasional restroom breaks, and most importantly a canvas, in which is best known as the web.</p>
   </div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div class='row no-gutter'>
   <div class='footer text-center'>

         <h1>Social Presence</h1>
         <p>let's get connected</p>
         <ul class='list-inline footer-icons'>
            <li><%= image_tag "icon-linkedin.jpg" %></li>
            <li><%= image_tag "icon-twitter.jpg" %></li>
            <li><%= image_tag "icon-github.jpg" %></li>
            <li><%= image_tag "icon-mail.jpg" %></li>
            <ul>
      <h1>
   </div>
</div>
</html>
